<!DOCTYPE html>
<html>
<head>
    <title> FyeFO </title>
</head>
<body>
    <h1> Dab! </h1>
    <form action= "/" method="POST">
        <div>
            {{form.student_name}}
            {{form.reason}}
            {{form.button}}
        </div>
    </form>
    	<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	
	{% block body %}{% endblock %}
	</div>


</body>
</html>