<!DOCTYPE html>
<html>
<head>
    <title> FyeFO (Queue) </title>
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">

    var timeout = setInterval(reloadTable, 250);
    function reloadTable () {

     $('#table').load('/queue #table');
 }
</script>

</head>
<body>
    <h1> FyeFo: The CS1301 Help Desk Queue (Queue) </h1>
    <form action= "/queue" method="POST">
        <div>
            <p>The Queue</p><br/><br/><br/>
        </div>
    </form>

    <div id="table">
    {{table}}
    </div>

</body>
</html>