<!DOCTYPE html>
<html>
<head>
    <title> FyeFO </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('.static', filename='stylesheet.css')}}">

    <script src="{{ url_for('.static',filename='main.js') }}" type="text/javascript"></script>


</head>
<body onload="on_load()">
    <h1> CS301 Help Desk Sign In</h1>
    <h2> Average wait time: {{wait}} min</h2>
    <hr>
    <div id="tas">
      <h3> TAs on duty: </h3>
    </div>
    <hr>
    <div id = "form">
        <form id="myForm" action= "/" method="POST">
          Type in your 9 digit GTID<br>
          <input name="name" id="name" autofocus>
          <br>
          <input type="submit" class="btn btn-primary" id="add" name="add" value="Submit">
    </div>
    <h4> Queue: </h4>



<div id="queue">
  <div id="block1">
  <div>
  <div id="block2">
  <div>
  <div id="block3">
  <div>
  <div id="block4">
  <div>
  <div id="block5">
  <div>
</div>


</body>
</html>
