<!DOCTYPE html>
<html>
<head>
    <title> FyeFO </title>

    <link rel="stylesheet" href="{{url_for('.static', filename='stylesheet.css')}}">

    <script src="{{ url_for('.static',filename='main.js') }}" type="text/javascript"></script>

</head>
<body onload="on_load();setTimeout(timeOut,10000)">
    <h1> The CS1301 Help Desk Queue </h1>
    <h2> Average wait time: {{wait}} min</h2>
    <hr>
    <div id="tas">
      <h3> TAs on duty: </h3>
    </div>
    <hr>
    <div id = "ta-form">
        <form id="ta-myForm" action= "/" method="POST">
          <p> Hello {{name}}, what would you like to do? </p>
          <input type="submit" class="button" id="remove" name="remove" value="Remove next">
          <input type="submit" class="button" name="clear" value="Clear the queue" onclick="clearConfirm(event)">
          <input type="submit" class="button" id="exit" name="exit" value="Exit">
          <input type="submit" class="button" id="signout" name="signout" value="Sign-Out" onclick="signOutConfirm(event)">
        </form>
    </div>


    <h4> Queue: </h4>


<!-- set up the structure for the blocks of 5 students per col in the queue -->
<div id="queue">
  <div id="block1">
  <div>
  <div id="block2">
  <div>
  <div id="block3">
  <div>
  <div id="block4">
  <div>
  <div id="block5">
  <div>
</div>



</body>
</html>
