body {
  color: #4D2C3D;
}
hr {
  height:3px;
  border: #4D2C3D;
  background-color: #4D2C3D;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  margin-left: 10px;
  font-size: 20px;
  text-decoration: underline;
}
h4 {
  margin-left: 10px;
  font-size: 20px;
  text-decoration: underline;
}
body {
  /* background: #000018; */
  background: #F7F5E6;
}
a {
  font-size: 13px;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#ta1 {
  display:inline-block; margin-right:20px; margin-left:10px;
}
#ta2 {
  display:inline-block;
}
#myForm {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  /* text-decoration: underline; */
}
#ta-form {
  text-align: center;
  font-weight: bold;
}
#ta-myForm {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
#queue {
  margin-left:10px;
  font-size: 19px;
}
.ta-name {
  font-size: 19px;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #4D2C3D !important;
    border-color: #4D2C3D;
}


img {
  margin-left:30px;
}


#block1 {
  display: inline-block; margin-right: 15px;
}
#block2 {
  display: inline-block; margin-right: 15px;
}
#block3 {
  display: inline-block; margin-right: 15px;
}
#block4 {
  display: inline-block; margin-right: 15px;
}
#block5 {
  display: inline-block; margin-right: 15px;
}
#gtid {
  outline-color: #4D2C3D;
}
.inputError {
  color: red;
  border-color: red;
  font-size: 13px;
}
::placeholder {
  font-size: 15px;
  text-align: center;
}

